@charset "UTF-8";

@font-face {
  font-family: "smart";
  src:url("fonts/smart.eot");
  src:url("fonts/smart.eot?#iefix") format("embedded-opentype"),
    url("fonts/smart.woff") format("woff"),
    url("fonts/smart.ttf") format("truetype"),
    url("fonts/smart.svg#smart") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "smart" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "smart" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\6b";
}
.icon-clipboard-notes:before {
  content: "\62";
}
.icon-cubes:before {
  content: "\63";
}
.icon-torsos:before {
  content: "\64";
}
.icon-phone:before {
  content: "\65";
}
